body {
    background: #546a7b;
    margin-bottom: 60px; 
}

.navbar-brand {
    font-family: Source Code Pro;
    font-size: 21.25m;
}

.ka-text {
    font-family: Source Code Pro;
    color: #c6c5b9;
}

.ka-text h1 {
    color: black;
}

.ka-home-section {
    background: #507f85;
    font-family: Source Code Pro;
    color: #c6c5b9;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    margin: 10px;
    border: 2px solid black;
}

.ka-home-section:hover {
    border:3px solid black;
    color: white;
    text-decoration: none;
}

.ka-icon {
    max-width: 25px;
    max-height: 25px;
    margin: 2px
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: black;
    color: white;
  }
  