body {
    background: #546a7b;
    margin-bottom: 60px; 
}

.navbar-brand {
    font-family: Source Code Pro;
    font-size: 21.25m;
}

.ka-text {
    font-family: Source Code Pro;
    color: #c6c5b9;
}

.ka-text > h1 {
    color: black;
    font-size: 2em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.ka-text > h2 {
    color: black;
    font-size: 1.3em;
    text-decoration: underline;
}

.ka-text > p {
    padding-bottom: 5px;
}

.ka-text > ul {
    font-size: 0.8em;
    padding-bottom: 5px;
}

.ka-home-link {
    text-decoration: none;
}

.ka-home-section {
    background: #466b70;
    font-family: Source Code Pro;
    color: #b5b4aa;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    margin: 10px;
    border: 2px solid black;
}

.ka-home-section:hover {
    border:3px solid black;
    color: white;
}

.ka-icon {
    max-width: 25px;
    max-height: 25px;
    margin: 2px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: black;
    color: white;
  }
  