{% extends "main/base.html" %}
{% block title %}Kyle Arthurs - Blog{% endblock %}
{% block content %}
<div class="container ka-text">
    <h1>Blog</h1>
    <p>I am working on some backend code to manage a blog section.</p>
    <h2>Some topics I might write about:</h2>
    <ul>
        <li>Technology including Software, Artificial Intelligence, Renewable Energy</li>
        <li>Business, Finance, Investing, Cryptocurrency</li>
        <li>Arts, Music, Film, etc.</li>
        <li>Travel, Camping</li>
        <li>Food and Drink</li>
    </ul>
</div>
{% endblock %}