{% extends "main/base.html" %}
{% load static %}
{% block title %}Kyle Arthurs - Business And Finance{% endblock %}
{% block content %}
<div class="container ka-text">
    <h1>Business and Finance</h1>
    <p>It's important to me to read financial newsletters and keep up with a few youtube channels that follow markets and 
    provide personal finance tips.  My parents always set a great example in how to be frugal and intelligent 
    with finances to make a decent living regardless of income level. I've been enjoying learning a little more about 
    investing in the last few years. I generally prefer lower-risk, longer-term, more passive investing.  In time I might add some more investment content to this page.</p>
    <h2>University</h2>
    My first declared major at the University of Wisconsin was business finance.  I completed my associates degree before deciding to persue computer science.  Some of the courses I finished before switching majors:
    <ul>
        <li>Principles of Macroeconomics</li>
        <li>Principles of Microeconomics</li>
        <li>Essentials of Human Resource Management</li>
        <li>Essentials of Marketing</li>
        <li>Essentials of Finance</li>
        <li>Financial Accounting Cycle</li>
    </ul>
    <!-- <h2>Investing</h2> -->
</div>
{% endblock %}