{% extends "main/base.html" %}
{% load static %}
{% block title %}Kyle Arthurs - Home{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="/dev">
          <div class="ka-home-section shadow">
            <span>Software Development</span>
            <img class="ka-icon" src="{% static "/main/icons/crunch-bang.png" %}">
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <div class="ka-home-section shadow">
          Business & Finance
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="ka-home-section shadow">
          Resumé
        </div>
      </div>
      <div class="col-md-6">
        <div class="ka-home-section shadow">
          Philosophy & Philanthropy
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="ka-home-section shadow">
          <span>Collections</span>
          <span class="">
            <img class="ka-icon" src="{% static "/main/icons/vinyl.png" %}">
            <img class="ka-icon" src="{% static "/main/icons/gamepad.png" %}">
            <img class="ka-icon" src="{% static "/main/icons/book.png" %}">
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ka-home-section shadow">
          Blog
      </div>
    </div>
  </div>
{% endblock %}